.radient-gradient {
  background: radial-gradient(
    60vw 60vh at 70% 50%,
    transparent,
    #202125 60%,
    #121315 75%
  );
  opacity: 0.9;
}
.swiperImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-pagination-bullet {
  margin-top: 10px;
  background: white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: orange;
}

@media screen and (min-width: 1024px) {
  .swiperMain {
    height: 540px;
  }
}
@media screen and (max-width: 768px) {
  .swiperMain {
    height: 340px;
  }
}

.clamped {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.swiperSlideMain {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
}
